* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Archivo", sans-serif;
}
li{
  list-style: none;
}
a{
  text-decoration: none;
}
  .inside-container{
      max-width:1000px;
      margin:0 auto;
      padding:0 10px;
  }







